[2017-01-02 12:07] whatyouhide opened #9 "Provide a :keyspace option when starting connections"
We should provide a `keyspace: nil | String.t` option to `Xandra.start_link/1`. With `keyspace: "foo"`, this option would mean that all connections to Cassandra issue a `USE foo` query right after starting up so that all subsequent queries can use the given keyspace. This would scale to connection pools as well.

[2017-01-02 13:56] whatyouhide opened #10 "Improve errors"
- [x] Lots of `with`s around (handle errors everywhere, never `:ok = ...`) (#14)
- [x] Good `Xandra.Connection.Error.message/1` (#15)

[2017-01-02 13:57] whatyouhide opened #11 "Prepared queries cache"

[2017-01-02 13:57] whatyouhide opened #12 "Option validation for start_link/2"

[2017-01-02 14:00] whatyouhide opened #13 "Roadmap to v1.0"
- [x] Batch queries (#32)
- [x] Documentation (#46)
- [x] Compression (#58)
- [x] Clustering (#65)
- [x] Retry strategies (#77)
- [x] User-defined types (#67)
- [x] Authentication (#84)
- [x] Encryption
- [ ] Automatic node discovery
- [ ] Event server
- [ ] Tracing

[2017-01-02 14:12] #9 closed, assigned to whatyouhide

[2017-01-02 16:23] #10 closed, assigned to whatyouhide

[2017-01-08 20:20] whatyouhide opened #20 "Introduce support for batch queries"

[2017-01-08 20:20] whatyouhide opened #21 "Introduce bang variants of Xandra functions"
Such as `Xandra.execute!/4` and similar. These functions should be used throughout tests as well.

[2017-01-09 14:37] whatyouhide opened #24 "Autogenerate keyspace in Xandra.IntegrationCase cases"

[2017-01-09 14:57] #12 closed, assigned to whatyouhide

[2017-01-09 15:04] #24 closed, assigned to whatyouhide

[2017-01-10 08:54] #21 closed, assigned to whatyouhide

[2017-01-11 11:52] #11 closed, assigned to lexmag

[2017-01-11 13:49] whatyouhide opened #33 "Support the serial_consistency flag"
We need to support such flag when executing simple, prepared, and batch queries. Straightforward API:

[code]

Note that only the `:serial` and `:local_serial` consistency levels are allowed (by the protocol), so we raise if the provided level is not one of those.

[2017-01-12 17:06] whatyouhide opened #34 "Refactor flag-related functions in Xandra.Protocol"

[2017-01-12 22:30] whatyouhide opened #35 "Rename Query/Prepared/Batch"
We should rename:

* `Xandra.Query` to `Xandra.Statement.Simple`
* `Xandra.Prepared` to `Xandra.Statement.Prepared`
* `Xandra.Batch` to `Xandra.Statement.Batch`

None of those structs are meant to be used publicly and they're all meant to be used internally.

[2017-01-12 22:52] #20 closed, assigned to whatyouhide

[2017-01-12 23:15] #34 closed, assigned to whatyouhide

[2017-01-13 09:37] whatyouhide opened #37 "Add Typespecs to the codebase"

[2017-01-13 09:38] whatyouhide opened #38 "Add documentation to the public API"

[2017-01-13 15:25] #35 closed, assigned to nobody

[2017-01-13 16:59] #37 closed, assigned to whatyouhide

[2017-01-14 13:15] lexmag opened #42 "Implement heartbeat (DBConnection.ping/1 callback)"

[2017-01-15 12:01] #42 closed, assigned to lexmag

[2017-01-16 14:24] whatyouhide opened #50 "Fill in the README"

[2017-01-16 16:09] #38 closed, assigned to whatyouhide

[2017-01-17 10:57] whatyouhide opened #54 "Rename Xandra.Stream to Xandra.PagesStream"
In the future, we may want to have `Xandra.RowsStream` as well. These structures are not public and are only used internally anyways (but users can see them when they're returned from `Xandra` functions still).

[2017-01-17 14:20] #50 closed

[2017-01-17 14:20] #54 closed

[2017-01-22 17:02] whatyouhide opened #60 "Support the "timestamp" flag when executing queries"

[2017-01-22 17:15] #33 closed

[2017-01-22 17:29] #60 closed

[2017-01-24 10:11] weixiyen opened #63 "Connecting to multiple nodes / round robin"
Possible to specify a configuration with multiple contact points in the cluster?

[2017-01-24 10:52] whatyouhide commented on #63
Hey @weixiyen, thanks a lot for the issue. Support for clustering (basically what you are asking, that is, being aware of the cluster either by exploring the topology programmatically or by accepting a list of available nodes) is in the #13 (under "Clustering"), so it's definitely in the plans but not supported yet. We're working on it though :D

[2017-01-24 10:52] #63 closed

[2017-02-28 01:57] weixiyen opened #76 "decode_map error when map value is tinyint or smallint"
Hi there, just wanted to say thanks for Xandra, it's a great library!

I ran across an error that only happens with maps that have integer values.

You can reproduce with the code below.

Setup a table with a map field.

[code]

Repro by selecting from that table when it has values inside.

[code]

[2017-02-28 13:54] lexmag commented on #76
Hi @weixiyen, thanks for the report and steps to reproduce. 👍
We also need to know what Cassandra version you interact with?

[2017-02-28 18:32] weixiyen commented on #76
Sorry forgot to include, it's 3.9.

[2017-03-20 21:36] #76 closed

[2017-03-21 10:56] sashaafm commented on #13
Hey @whatyouhide when do you think `Authorization` and `SSL support` will be released?

[2017-03-21 11:29] lexmag commented on #76
Hey @weixiyen, I've just release v0.5.0 which supports these types.

[2017-03-21 22:08] lexmag commented on #13
Hey @sashaafm, there is no specific date when `Authorization` and `SSL support` will be added, hopefully the work will start next week.

[2017-03-22 23:19] weixiyen commented on #76
Awesome!  Will be updating to 0.5.0.

[2017-06-01 02:05] weixiyen opened #86 "Enumerable not implemented for %Xandra.Page..."
Hi guys,

Been using Xandra in a project for the last few months.

My code looks like this:
[code]

But after a while, the DB gets into a bad state, and every select query returns this error for all select statements, and I can't seem to get out of this state when I try to do enumeration to_list on the Xandra.Page struct.
[code]

Interesting to note that the format printed out is **%Xandra.Page{**

[2017-06-01 08:36] whatyouhide commented on #86
At a first glance, it seems that the implementation of the `Enumerable` protocol is getting lost for `Xandra.Page`. It's hard to believe this is the "db getting in a bad state" since the DB shouldn't be part of this issue: if Elixir can't find the implementation of `Enumerable` for `Xandra.Page` structs, then it shouldn't matter what's in the struct. Could you show the content of the `%Xandra.Page

[2017-06-01 17:55] weixiyen commented on #86
@whatyouhide Thanks.

So here's the actual output of Xandra.Page object in the broken instance.

[code]

When I paste it into a non-broken terminal, it works just fine and it understands that it's implementing enumerable.

[code]

This bug happens only when i restart the app with a deps.clean, and it only happens from time to time.  But once it gets into this state, it's hard to get out.

Upon fur

[2017-06-02 08:43] whatyouhide commented on #86
It indeed doesn't look like a Xandra issue but more like an Elixir issue. I'll quickly point this out to the rest of the Elixir team and see if we can find something.

In the meantime, if you find a minimal way to reproduce this, please do share it.

[2017-06-30 09:53] aphillipo opened #87 "Release with authentication support and documentation improvements"
This library looks/is really nice!

However it might be an idea to release authentication!  I was wondering why it didn't work and spent an age trying to get the authentication settings working before realising I was reading docs on GitHub!

Additionally, documenting named connection usage somewhere would have helped me and finally starting Xandra as a worker in a Phoenix application with config w

[2017-06-30 10:04] whatyouhide commented on #87
@aphillipo please, do submit a PR with improvements to named connection usage. :) I am not sure what you mean with "starting Xandra as a worker in a Phoenix application with config", but if you have doc improvements in mind for that as well, please feel free to send a PR. Please send two separate PRs for those two things so it's easy for us to review and decide :)

A release with authentication is

[2017-06-30 10:04] #87 closed

[2017-06-30 10:25] lexmag commented on #87
@aphillipo I've just released [v0.7.0](https://hex.pm/packages/xandra/0.7.0) which includes authentication support.

[2017-06-30 11:22] whatyouhide commented on #13
Authentication was just released in v0.7.0. 🎉

[2017-06-30 11:24] whatyouhide commented on #86
Hey @weixiyen, I'm gonna close this issue for inactivity. If you still have this issue with newer versions of Elixir (such as 1.4.5) and find a minimal way to reproduce it, feel free to share it in this issue :) Thanks!

[2017-06-30 11:24] #86 closed

[2017-06-30 11:36] lexmag commented on #86
It could be the case described in https://github.com/elixir-lang/elixir/issues/5987.

[2017-06-30 11:37] whatyouhide commented on #86
Yes that's what I was thinking of, so updating Elixir should solve that since that's now solved.

[2017-07-09 04:49] aphillipo opened #90 "Supporting Decimals in a Better Way"
I was trying to insert a [Decimal](https://github.com/ericmj/decimal) or a Float value (into a decimal field) with Xandra and it obviously doesn't work directly how I was expecting.

You can actually just pattern match out of a Decimal the coefficient, sign and the exponent:

%Decimal{sign: sign, coef: coef, exp: exp} = decimal

And then return {sign*coef, exp} for the encode_value function.  Woul

[2017-07-09 06:44] aphillipo commented on #90
I realise this is a breaking change but I would by far prefer decimals returned [Decimal](https://github.com/ericmj/decimal) by default.

I have a working pull request coming returning the tuple, just need to move the extra decimal tests to use a different table in a separate test.

[2017-07-09 08:22] aphillipo commented on #90
Just as a quick validation of this approach Postgrex also includes this same Decimal library.

[2017-07-09 09:06] aphillipo opened #92 "Support :counter type being returned as an INT"
I think :counter seems to work exactly like an int from a driver point of view.

I have a working branch, I'll add a test or two in a bit, to at least check if incrementing and decrementing an existing value works.

https://github.com/aphillipo/xandra/tree/fix-counter-fail-3.x

[2017-07-09 09:07] aphillipo opened #93 "Return Decimal type from Decimal Column"
Sorry about all these extra issues!  I intend to fix them myself (if you agree with my code). Thanks!

[2017-07-09 13:41] whatyouhide commented on #90
No guarantee of this happening and even more, no guarantee of this happening *anytime soon*. Anyways I am personally leaning towards depending on Decimal, I think started out without it to keep the library small and dependencies to a minimum.

[2017-07-09 15:27] aphillipo commented on #90
Hey @whatyouhide!  Any reason not to include it?  I’m dealing with money and need exact rounding and mathematics in a lot of code.  From my tests it works very well...

[2017-07-10 14:21] qcam commented on #90
I would give my vote to keeping this library small and minimal dependencies.

[2017-07-10 15:03] whatyouhide commented on #90
@qcam Decimal is a 1. very small dependency which is 2. extremely stable and 3. maintained by a member of the Elixir team (that happens to work with the authors of this library :P) and is 4. very very widely used in application code and database drivers, so it's very close to what we might call a "standard". My personal opinion is that by including it we do what users expect and we provide them wi

[2017-07-10 15:18] ericmj commented on #90
The original idea of Decimal was to include it with stdlib, but there are limitations in the VM that would make it a second class citizen compared to integers and floats so I think it is unlikely that it will be added.

The mainstream SQL drivers use Decimal and I would say that it is safe to us it. The specification it follows was written in 1985 so it's unlikely there will be breaking changes, a

[2017-07-10 18:59] qcam commented on #90
I quite believe in "a little copying is better than a little dependencies" and I think that we should keep our dependency tree as small as possible. Conservatively speaking, if it's just a couple of lines to convert `Xandra` decimal to `Decimal` decimal, why would we want the library to enforce that? Also including a dependency will of course add up the burden of maintaining/versioning it for Xand

[2017-07-10 19:24] ericmj commented on #90
I think all your arguments make sense, but I just want to remark on this one. What would the practical difference be if Decimal moved from https://github.com/ericmj/decimal to https://github.com/elixir-lang/decimal? It has been argued many times that we should move popular libraries elixir core or the elixir-lang repository, but I am usually against this since it makes no practical difference. And

[2017-07-10 20:06] qcam commented on #90
IMOH, the difference might be the legitimacy to the library. Just to state that I didn't mean to imply that Decimal maintainers are not legitimate enough, but being in the `elixir-lang` means the library will officially be supported/maintained by the language maintainers, it will be the default and recommended by the language. Let's say you could opt for not using Mix (I hope we could) but Mix is

[2017-07-10 20:08] whatyouhide commented on #90
If @ericmj maintains it you already know it's practically a "standard" library. If Eric steps out for some reason, we could move it to core but now there is very little need for it I think.

[2017-07-11 05:03] aphillipo commented on #90
@whatyouhide @ericmj I personally think not having a standard Decimal solution in Elixir is detrimental to the language, simply because many businesses use of Money and need exact Decimal solutions.  The fact that this Decimal library is also so standard, small, robust, well tested and well written as well as being maintained by a core team member is excellent, but it sends the wrong signal it not

[2017-07-11 07:36] #93 closed

[2017-07-11 08:40] ericmj commented on #90
The problem is if we can't Decimal expect to work like you think it would. Some limitations of Decimal:

[code]

Should we add a new number type to Elixir when it won't be a first class number or work like the existing number types?

[2017-07-11 08:45] ericmj commented on #90
What is the wrong signal? What is the difference between Decimal and all the other 1000s of packages on Hex.pm that you are using or considering to use? If it means you wont be able to find a library if it is not under the official umbrella or afraid to use a library if it is not official then we are doing something wrong in the community and the solution is not to move every library to elixir-lan

[2017-07-11 10:39] aphillipo commented on #90
@ericmj I think the way things are now is fine and it's fine that it ISN'T a number in Elixir terminology because it isn't, its a struct representation of a number.

It's not perfect but it's better to include this slight anomaly than to have people debate if they should include a reasonable abstraction that prevents errors in their projects. It's better to include Decimal than to have people stum

[2017-07-11 11:25] qcam commented on #90
No I think it is not fine. Adding a numeric type to stdlib without being able to represent it nicely as a number is catastrophic. I bet the illusion it brings will have much bigger impact than the benefits (which I personally have not seen yet).

To be honest, I don't think the argument of adding Decimal to prevent errors in people's projects is a valid one. The decision should not be driven by th

[2017-07-11 11:47] aphillipo commented on #90
@qcam do you prefer doing everything as an Integer when dealing with Money then?  I'm actually doing this in some places because I want to use counters for quick account balance retrieval (as well as having a ledger for purchases).  I'm lost on this one then, I thought I was right but you guys are all a lot better at coding than me and I just see Decimals as being exactly like DateTime and not lik

[2017-07-12 11:36] aphillipo opened #94 "Support Inserting Date/DateTime Structs"
From the Cassandra manual:

So we should probably not stop people from using Date strings in Xandra?

[2017-07-16 15:25] JeancarloBarrios opened #95 "Support Counter"
When I try to query a table that has a counter xandra throws me an error.

`Xandra.execute!(:xandra_pool, "SELECT * FROM domains", _params = [], pool: DBConnection.Poolboy)`

`** (FunctionClauseError) no function clause matching in Xandra.Protocol.decode_value/2
           (xandra) lib/xandra/protocol.ex:593: Xandra.Protocol.decode_value(<<0, 0, 0, 0, 0, 0, 0, 0>>, :counter)
           (xandra) li

[2017-07-17 11:27] filipecabaco opened #96 "Problems with Clustered connections"
While trying to connect to a cluster with:

[code]
I get the following error:

[code]

Have I misconfigured something?

I've created a small example repo showing the error to test it easily:
https://github.com/filipecabaco/xandra_test

[2017-07-17 11:34] filipecabaco commented on #96
I have also tried to  to change https://github.com/lexhide/xandra/blob/master/lib/xandra/cluster.ex#L162  by changing the function handle to `def handle_call({:checkout, _, _, _}, _, %__MODULE__{} = state)` and it's able to connect but then when I tried to execute a statement to create a keyspace it doesn't handle exceptions properly because `Xandra.Cluster.pools` is empty.

[code]

[2017-07-17 11:36] lexmag commented on #96
The issue is the `:underlying_pool` option, it needs to be a module that implements `DBConnection.Pool` behaviour, currently there 2 of such: `DBConnection.Poolboy` and `DBConnection.Sojourn`.

[2017-07-17 11:36] lexmag commented on #96
Thought I see that documentation is indeed mentions `DBConnection.Connection` for `:underlying_pool`, but that's incorrect. 😢

[2017-07-17 11:39] filipecabaco commented on #96
Tried it now with `DBConnection.Poolboy` also but it has the same match error 😓

https://github.com/filipecabaco/xandra_test/commit/77e3e970e378ce9708edb9b0e6bfdae76cd000ec

[2017-07-17 11:41] lexmag commented on #96
Right, `DBConnection.Connection` is also works as a `DBConnection.Pool`, okay will deeper what it can be.

[2017-07-17 11:48] lexmag commented on #96
@filipecabaco I assume it has something to do with `DBConnection`, what version do you use?

[2017-07-17 11:58] lexmag commented on #96
@filipecabaco I have reproduced the error, it happens when you don't specify the same `:pool` option as the cluster was started with.
All the following calls after cluster starting need to have `pool: Xandra.Cluster` option, for example:
[code]

[2017-07-17 12:00] aphillipo commented on #95
Hi there, if you need this now I just opened a pull request for it in #97.  I need to write some tests before it has a chance of getting merged though logically it should work exactly like a :bigint.

[2017-07-17 12:13] aphillipo commented on #92
Duplicate of #95

[2017-07-17 12:13] #92 closed

[2017-07-17 12:20] filipecabaco commented on #96
Using the example code, there's still an error when I try `run_cluster ` vs `run_single`:
[code]

Might be an inconsistency in my test environment 🤔 ... Will check but thank you for the help @lexmag ! 👍

And should the operations (e.g. `execute`) fetch the `pool` option from the `conn` argument?

[2017-07-17 12:39] lexmag commented on #96
Unfortunately this requirement comes from the design of DBConnection library, for example, Postgrex works completely the same way regarding the `:pool` option. Considering Ecto, it hides that thing from end users.

Nevertheless I have one idea how to overcome that, but need to validate how it works before.

[2017-07-17 13:45] lexmag commented on #94
Agree, if Cassandra is happy with that I think we should support that as well, but, of course, do validation that strings come in the "yyyy-mm-dd" shape.

[2017-07-17 13:50] lexmag commented on #94
On other thought, what if we start working with `Date` structures, then we'll have no need for supporting strings.

[2017-07-17 14:02] lexmag commented on #96
@filipecabaco I'm closing this issue, but feel to reopen if it still does not work for you.

[2017-07-17 14:02] #96 closed

[2017-07-17 14:09] filipecabaco commented on #96
Ok 👍 I think that now it's on my side with my testing environment.

Thank you for the help and keep up the awesome work with this lib! 🎉

[2017-07-17 14:11] lexmag commented on #96
Thank you. 💛

[2017-07-18 00:09] aphillipo commented on #94
Agree with Date structs, might be less controversial than Decimal.

[2017-07-18 10:22] peterRd opened #98 "Connection refused on execute"
Hi,
I am a bit new to elixir and I am trying to integrate xandra to connect to a remote cassandra setup. I have kept my start_link options extremely basic by just passing the host and port specifications
`{:ok, pid} = Xandra.start_link(host: config.dbhost,
      port: config.dbport,
    )`
According to my tests this runs fine. However the issue that I am having is when I try to run the execute com

[2017-07-18 11:17] lexmag commented on #98
Hi @peterRd,

I'm sorry, it was an incorrect example in the README file (fixed in e8376f2b7d66463fc2e64b5f68866b14062fd410).

You need to use the `:nodes` option instead of `:host` and `:port` combination:
[code]

[2017-07-18 11:17] #98 closed

[2017-07-19 05:17] peterRd commented on #98
Thanks

[2017-07-19 05:30] peterRd opened #99 "Non-throwing execute/3 function"
I have successfully established a connection and queried the remote Cassandra instance I have setup. However in the process of writing tests to try and catch invalid input or connections I have come across a different issue.

So I can successfully connect to a cassandra instance via the following:

[code]

and run simple queries like

[code]

However if the auth details are incorrect the `execute/

[2017-07-19 09:24] filipecabaco commented on #96
Just some follow up feedback:

I was able to make it work but now I have some `:timer.sleep(1000)` in some key parts of the code and tests because my code assumed that after `Xandra.start_link(options)` the cluster would be ready to accept requests, for example, `USE system` fails if you execute it immediately after `Xandra.start_link`.

This behaviour is different between single node and multi no

[2017-07-20 11:21] whatyouhide commented on #99
@peterRd the problem is that Xandra still tries to connect to Cassandra even when authentication details are wrong. You can see this by looking at what Xandra logs:

<details>
[code]
</details>

As you can see it treats bad auth details as a normal disconnection/inability to connect and tries to periodically reconnect. When you execute a query on a disconnected connection, you get an error, even w

[2017-07-25 16:11] jeremytregunna opened #100 "Is there any reason we have to pass a page struct for paging?"
The code is structured in a way that requires a Page struct be passed in to get the paging_state out of. This is generally ok, but is there any reason we shouldn't just be able to pass the paging_state directly as a string to execute's options?

Justification for this question is that when you consider talking to a GraphQL endpoint for instance, and handing back the paging state; when the next que

[2017-07-26 16:59] jeremytregunna commented on #94
@lexmag so without this, how are we to insert dates? I've tried using an integer as unix time from 1970, and my response back is an error:

[code]

[2017-07-26 21:02] jeremytregunna opened #101 "Date issue"
I've got a set of data that I've converted from cqerl as my cassandra driver to xandra.

The main issue here is that previous data using cqerl wrote dates properly, but using xandra I get negative integers in my cassandra tables. Here's an example log:

[code]

The last two rows are from today, the other two are with the cqerl driver.

The code that writes the dates looks like this:

[code]

Any i

[2017-07-26 21:57] jeremytregunna commented on #101
Turns out that I have to preprocess the date, and send in the result of this, where `dt` will be a DateTime struct:

[code]
and pass in `date` instead.

Should this be a helper in Xandra @lexmag?

[2017-07-29 11:21] lexmag commented on #101
Hey @jeremytregunna, it is indeed far from nice experience. Cassandra has different starting point for dates than Unix epoch. I'm working on supporting `Date` structs.

[2017-07-29 17:34] lexmag opened #102 "Add documentation page that shows Elixir <=> Cassandra data types relation"
Something similar to https://hexdocs.pm/msgpax/Msgpax.html#module-data-conversion.

[2017-07-29 21:02] lexmag commented on #100
It was done that way for connivence and actually for hiding the existence of the paging state.
In fact, `:paging_state` is available in the options for `execute`, though it is undocumented.

But I guess it is time to reconsider hiding.
I think we can have one more function in `Xandra.Page` for paging state fetching (or even replace `more_pages_available?/1` as it likely will be unnecessary afterwa

[2017-07-30 12:01] lexmag commented on #95
Closed in #97.

[2017-07-30 12:01] #95 closed

[2017-08-01 14:34] jeremytregunna opened #104 "Inferring field type"
The title of this ticket is perhaps not the best.

What I'm suggesting is some mechanism to the Xandra.execute/3 call which the array of type/value tuples, could be, if an argument is not a tuple, inferred as to what type the field should be? For instance, if we assume that there's a table like:

[code]

And we insert a new record like this:

[code]

Is it not possible to infer that `"foo"` and `"

[2017-08-03 11:30] whatyouhide commented on #100
Making the `:paging_state` option public sounds good to me.

[2017-08-08 17:37] lexmag commented on #96
Somewhat late reply but this is how async start could be solved in tests: https://github.com/lexhide/xandra/blob/master/test/integration/clustering_test.exs#L6-L18. :bowtie:

[2017-08-08 17:39] filipecabaco commented on #96
🙏 we will do that it, seems to be the best way to check for the connection status.

Thank you so much for the reply 👍

[2017-08-09 16:54] lexmag commented on #104
There are 2 reliable ways to get inferring:

  1. use prepared queries (available today)
  2. build type server (we consider adding it after automatic node discovery)

@jeremytregunna I'm wondering if, for some reason, you don't use prepared queries?

[2017-08-09 17:17] jeremytregunna commented on #104
@lexmag We do a lot of one-offs, so prepared queries don't buy us much. That said, this is good to know, I can give it a go.

[2017-08-09 17:31] lexmag commented on #104
@jeremytregunna of course it depend on the exact statements you use, but using prepared queries even for one-offs should be fine: https://hexdocs.pm/xandra/Xandra.html#prepare/3-prepared-queries-cache.

[2017-08-11 01:54] jeremytregunna commented on #104
@lexmag This works just fine for our use cases, considering this closed then. Feel free to reopen, but I'm satisfied.

[2017-08-11 01:54] #104 closed

[2017-08-12 15:22] lexmag commented on #100
Closed via #105.

[2017-08-12 15:22] #100 closed

[2017-08-15 15:47] whatyouhide commented on #99
Closing this as it's related to DBConnection, not really to Xandra. Thanks @peterRd! 💟

[2017-08-15 15:47] #99 closed

[2017-10-29 17:54] #101 closed

[2017-10-29 17:56] lexmag commented on #94
Resolved in #106.

[2017-10-29 17:56] #94 closed

[2017-10-31 21:58] weixiyen opened #107 "Pool size"
I had a quick question about the pool_size parameter, not sure if this is the best place to ask.

Does pool_size represent the actual number of socket connections to Cassandra?

[2017-10-31 22:18] #107 closed

[2017-11-07 10:15] willoughby opened #108 "Clustering Error when running query"
I'm trying to get a clustered connection running but getting the following error

Any help would be appreciated.

[code]

`prod.exs`:

[code]

`application.ex`:

[code]

[2017-11-08 18:13] lexmag commented on #108
I assume it could be the same problem as in https://github.com/lexhide/xandra/issues/96#issuecomment-315735601.
@willoughby does the passing `pool: Xandra.Cluster` option to `execute/4` solve the error?

[2017-11-16 14:17] willoughby commented on #108
Thanks Ill give it a go tonight and report back

[2017-11-20 20:47] TylerPachal opened #109 "What versions of Cassandra does this support?"
Hi there, I am trying to figure out which versions of Cassandra this supports.  I am working on a Cassandra 1.2 cluster and am having an error connecting, and am trying to figure out if it is because the cluster version is not supported, or something else.  Here is the error:

[code]

Running `nc` to check the port succeeds:
[code]

[2017-12-08 14:25] lexmag commented on #108
Closing this issue for now. @willoughby feel free to reopen if Xanra still does not work for you.

[2017-12-08 14:25] #108 closed

[2017-12-08 14:30] lexmag opened #110 "Improve protocol version negotiation"
Xandra should produce better error message if it does not support server version.

[2017-12-08 14:30] lexmag opened #111 "Consider adding support for protocol v1 and v2"

[2017-12-08 15:05] lexmag commented on #109
Hey @TylerPachal, Xandra implements native protocol v3 and v4—Cassandra 2.1 or higher (Cassandra 1.2 requires native protocol v1).
I've added information about supported protocol versions to README.
Also created #110 and #111 for future improvements on that matter.

[2017-12-12 09:05] lexmag opened #112 "Verify that Scylla works with the driver"
Scylla: http://www.scylladb.com.

[2017-12-19 21:19] TylerPachal commented on #109
Great thanks for adding the info

[2017-12-19 22:51] #109 closed

[2018-02-08 14:20] sashaafm commented on #13
Has encryption been implemented yet? Thanks

[2018-02-20 05:44] omgitsjoao commented on #112
Hey lexmag, do you have any idea on how to achieve that? We could run the tests against a scylla node or an app which implements calls to scylla using xandra as the driver. If the tests implements specs for the CQL then it would suffice since scylla is a drop in for cassandra.

[2018-02-20 07:01] scohen commented on #112
FYI, we're going to be experimenting with Scylla and Xandra. We'll keep you posted.

[2018-02-20 14:12] omgitsjoao commented on #112
Nice, I was starting a simple project to try the queries of scylla documentation, think this would help?

[2018-02-20 16:05] lexmag commented on #112
Hi folks, I though about the following plan:

* run the current test suite on Scylla (possibly add more tests if needed)
* check what drivers in other languages do to support Scylla—if there are any special treatment at all
* configure Travis CI to install Scylla and run tests on it
* ideally make some production application to try out Xandra with Scylla

Please let me know if you've already done

[2018-02-20 17:12] omgitsjoao commented on #112
I though on something similar, we could:
 - Add Scylla to Travis and run the current suite
 - Fix stuff if something breaks
 - Build an app to prove that it works swapping Cassandra with Scylla without changes. (We could also use it to test improvements on the usage of the driver)

I've searched for the Scylla drivers and there isn't an official one, all of them are Cassandra drivers that people t

[2018-02-20 17:13] omgitsjoao commented on #112
Later today I'll try to build the test matrix for Scylla on Travis

[2018-02-20 18:48] lexmag commented on #13
@sashaafm I have it [about 80% finished](https://github.com/lexhide/xandra/compare/am/encryption).

[2018-02-21 01:40] omgitsjoao commented on #112
I did the matrix, wrapped the current Cassandra install and add a clause to check if the env var is set, then use Scylla. I'm currently working on my [fork](https://github.com/omgitsjoao/xandra). The result of build have some errors on Scylla part, 6 tests of the suite failed. The build is available [here](https://travis-ci.org/omgitsjoao/xandra/builds/344070512). A raw log is [here](https://api.t

[2018-02-21 01:40] blaketan opened #116 "Pings with compression fail"
I copied over the Snappy module implementation (found in the test suite). It gave me an improvement in speed for large queries, but unfortunately it did not seem to handle pings very well.

[code]

[2018-02-21 19:15] blaketan commented on #116
Submitted PR #117

[2018-02-21 21:01] #116 closed

[2018-02-28 11:52] queer commented on #112
If it helps, I've been running Xandra against some Scylla instances in test right now and it's been working 100% fine here, although I'm not doing anything "fancy" with it.

[2018-03-02 12:14] zmagajna commented on #112
I came across a problem few weeks ago:

[code]
I was tring to prepare statements for the batch insert into ScyllaDB, and the response back was this. If that helps.

[2018-03-02 15:02] sleepiejohn commented on #112
I got several of those in Travis, seems it can't decode binary types

[2018-03-02 22:20] zmagajna commented on #112
So i dig a bit more into test and one is failing:

[code]

As I check a bit on this test on ScyllaDB Github, here is the [answer](https://github.com/scylladb/scylla/issues/2727):

Should this test be excluded with some tag when running tests on ScyllaDB?

[2018-03-03 10:56] whatyouhide commented on #112
Yes.

[2018-03-03 11:59] zmagajna commented on #112
Added the tag on my [fork](https://github.com/zmagajna/xandra/tree/scylladb), could somebody take a look if this is the by project guideline, or should I change things?

[2018-03-03 12:03] whatyouhide commented on #112
That looks okay to me.

[2018-03-03 12:05] zmagajna commented on #112
Should I also make the Travis configuration on the project?

[2018-03-20 18:52] jvf opened #118 "Xandra.Cluster does not reconnect"
Automatic reconnection after a Cassandra restart does not work with `Xandra.Cluster` (it does with `DBConnection.Poolboy`).

### Environment

* Elixir & Erlang versions (elixir --version): `Erlang/OTP 20 [erts-9.3], Elixir 1.6.3`

* Operating system: macOS 10.13.3

### Current behavior

[code]

If I now shut down the local Cassandra instance, I get the following.

[code]

After restarting Cassandr

[2018-03-27 16:26] jvf opened #119 "Xandra.prepare/3 raises DBConnection.ConnectionError"
Are `Xandra.prepare/3` and `Xandra.execute/4` expected to raise `DBConnection.ConnectionError`? If so, what is the purpose of bang-versions (`prepare!/3`, `execute!/4`)?

[2018-06-18 07:41] qcam commented on #119
@jvf Could you help to provide the steps to replicate the exception raise?

[2018-06-22 12:59] ali-hs opened #122 "Exception on user defined data type after a new field is added."
I have a user defined data type stored in as a frozen field of a table. Recently i have added  new field in it this udt. When I query data using cqlsh, newly added field in udt is appeared as null, which is a desired behavior. But when same query is run using xandra its throwing this exception. Please help.

`** (exit) an exception was raised:
    ** (MatchError) no match of right hand side value:

[2018-07-06 11:59] lexmag commented on #90
Free for grabs, the solution is described in https://github.com/lexhide/xandra/pull/91#issuecomment-350696760.

[2018-07-07 12:17] jvf commented on #119
Steps to reproduce:

[code]

For the second `execute/3` (in `iex(7)>`) I expect a `{:error, Xandra.ConnectionError}` return instead of a `DBConnection.ConnectionError` thrown.

[2018-07-07 19:02] lexmag commented on #119
The `DBConnection.ConnectionError` exception comes from the DBConnection dependency.
All most popular DB drivers are based on it and I believe none of them rescues this error (even Ecto, which is even more high level abstraction) but rather all let user handle it, thus I think we should align with them.

[2018-07-07 19:02] #119 closed

[2018-07-09 07:35] jvf commented on #119
Hmm, I understand your reasoning. But the behaviour is still somewhat inconsistent. If you do the a `execute/3` (`iex(6)>`) call just after stopping Cassandra the error is catched by `Xandra`:

[code]

The second `execute/3` (`iex(9)>` then throws.

[2018-07-10 18:39] lexmag commented on #119
The `iex(6)>` call does not throw because we have checked out a connection from a pool but it got closed in the middle of the query execution. In this case we have `Xandra.ConnectionError` returned instead of throwing since this behaviour what we (Xandra) can control.
The `iex(9)>` call fails to check out a connection from the pool—our code is not even reached—`DBConnection` throws an exception.
I

[2018-07-24 13:39] zmagajna commented on #112
So I have made a pull request for the ScyllaDB now just one test is failing I'm just wondering if someone could some guidance as on why this test is failing?

[code]

[2018-07-26 12:47] zmagajna commented on #112
Found the bug, was the wrong configuration in `.travis.yaml` PR is ready to merge.

[2018-08-29 11:57] ntmohammad opened #124 "timeuuid is not supported"
selecting any timeuuid cause problem , including this code :
{:ok, conn} = Xandra.start_link(nodes: ["127.0.0.1:9042"])
{:ok, prepared} = Xandra.prepare(conn, "SELECT now() from system.local")
{:ok, result} = Xandra.execute(conn, prepared, [])
returns

#Xandra.Page<[
  rows: [
    %{
      "system.now()" => <<150, 176, 76, 96, 171, 128, 17, 232, 173, 123, 139,
        94, 224, 24, 118, 91>>
    }

[2018-09-04 11:07] JoaoVasques commented on #13
@lexmag any updates on SSL?

[2018-09-04 12:02] #124 closed

[2018-09-19 08:19] clouds56 opened #125 "Is it possible to write to the Logger what is executed?"
Just like what ecto do.

[2018-09-27 10:16] whatyouhide commented on #125
Yes I think this is something that would be nice to have. @clouds56 would you have time to work on this? I am a bit swamped with work right now so I wouldn't be able to dedicate cycles to this for a while.

[2018-10-23 21:08] lexmag opened #127 "Travis CI should run --check-formatted"

[2018-10-25 11:00] whatyouhide commented on #127
Closing in favour of #128.

[2018-10-25 11:00] #127 closed

[2019-01-24 16:29] Nitrino opened #132 "Upgrading to DBConnection 2.0"
Hey @lexmag and @whatyouhide.
Currently, Xandra is using `db_connection "~> 1.0"`, what causes conflict with the latest version `ecto_sql` and Phoenix 1.4 accordingly.
DBConnection contains many breaking changes and I'm trying to update the Xander: https://github.com/Nitrino/xandra/commit/e16b2d78d04490b1ab2a4e9227cf86994511a19c

Difficulties arise with the implementation of cluster support, and I

[2019-01-28 10:04] whatyouhide commented on #132
We don't have anything in the works for this. I really appreciate it though, and I think we should try to move to DBConnection 2.0 if possible, yeah. However, I won't have time to invest on this for now and @lexmag doesn't seem to either, so if you want to take a shot at this, you would be on your own for the time being.

[2019-02-11 14:11] spscream commented on #132
+1, we are using xandra and now we can't upgrade to phoenix 1.4 one of our projects.
Seems like DBConnection.Pool behaviour is removed from db_connection ~2.0 and now Xandra.Cluster should be rewritten.

[2019-02-11 22:41] spscream commented on #132
I managed it to pass tests in my commit:
https://github.com/spscream/xandra/commit/2433f8d0c0ab94b196f15776b99041eb766130c5
I'm not sure if this is correct way to make it, meanwhile it works for me.

[2019-02-13 09:11] spscream commented on #132
https://github.com/lexhide/xandra/pull/133

[2019-03-25 17:59] jvf opened #134 "Add support for native protocol v4"
According to #109 and the [README.md]  native protocol v3 **and** v4 are supported by `Xandra`.

Looking through the source code I cannot find any implementation of native protocol v4. Looking at [Xandra.Frame] I find the request versions set to `0x03` and the response version set to `0x83` which indicates native protocol v3, see [native_protocol_v3], section 2.1 version.

For native protocol v4 t

[2019-04-01 07:01] desislavanikolova opened #135 "New release with Elixir ~> 1.4 support"
I see there is a commit fixing Elixir ~> 1.4 warnings. Could you make a new release including it?

[2019-04-03 02:00] vanjabucic opened #136 "Dialyzer warnings/issues with Xandra.stream/query"
Dialyzer is constantly complaining about return types of standard query blocks, and those errors are percolating up the code chain and lighting up the rest of the project.

Seems like the issue starts with possibly bad spec on Xandra.stream()

Example code with errors:
[code]

[2019-04-05 13:02] jvf commented on #134
Does anyone have any information on this? If @lexmag or @whatyouhide do not have any time to answer maybe someone else is interested in this question and wants to take a look?

[2019-04-05 17:04] whatyouhide commented on #134
@jvf I am aware this is a problem. There's other problems with Xandra as well like updating it to db_connection >= 2. @lexmag and I won't have time to fix this in the near future but if you're willing to contribute support for native protocol v4, I'd love to provide assistance.

[2019-04-11 12:24] williamtetlow commented on #132
Great work @spscream! Will the PR be merged soon?

[2019-04-11 12:25] whatyouhide commented on #132
Not in the very near future unless time frees up for me. It will likely be a while, sorry.

[2019-04-11 13:49] jvf commented on #134
@whatyouhide I would like to work on support for native protocol v4. I even got permission from to work to spend some time on this. Any assistance you can provide would be greatly appreciated!

[2019-04-11 16:14] whatyouhide commented on #134
@jvf what kind of assistance do you need to start working on this? I'm @whatyouhide on IRC (#elixir-lang) and on Elixir's Slack, feel free to ping me there or shoot me an email.

[2019-04-11 17:55] williamtetlow commented on #132
No worries, life comes first! Thanks for getting back to me.

[2019-04-15 11:56] jvf commented on #134
@whatyouhide I will contact you.

[2019-05-02 08:54] sigurdsa commented on #135
Would be nice! Annoying being spammed with warnings everytime we run tests, makes it easier to miss important stuff :)

[2019-05-03 17:18] syndbg commented on #135
Ping @lexmag :)

[2019-05-03 17:34] whatyouhide commented on #135
Hey folks, Xandra is in a bit of a downtime period. We won't be able to release soon, it will take a while. Sorry.

[2019-05-07 10:12] zmagajna commented on #112
Since it is merged you can close this issue. Sorry, couldn't help at the final stages had too much on mine plate.

[2019-05-07 14:04] #112 closed

[2019-05-08 14:36] whatyouhide opened #137 "Update to Elixir 1.6+"
This will likely allow us to use `DynamicSupervisor` in `Xandra.Cluster` plus a few other things here and there.

[2019-05-08 14:37] whatyouhide opened #138 "Start executing Telemetry events"
This will make things better and logging/instrumentation/tracing easier.

# Proposed API

For normal connections (non-cluster): see https://github.com/lexhide/xandra/issues/283
For **cluster** connections: see https://github.com/lexhide/xandra/issues/284

[2019-05-08 14:38] whatyouhide commented on #125
We will have support for Telemetry (#138) and likely provide a default logger. Follow #138 for updates. Thanks @clouds56! 💟

[2019-05-08 14:38] #125 closed

[2019-05-08 14:42] whatyouhide commented on #111
We're adding support for v4 (well @jvf is 😄) and there's a lot of work to be done in Xandra so I'm convinced that for now we should not work on v1/v2 support. We can always revisit in the future if folks ask for it.

[2019-05-08 14:42] #111 closed

[2019-05-08 14:43] whatyouhide commented on #13
@JoaoVasques for SSL updates follow #131.

[2019-05-08 14:45] whatyouhide commented on #135
We'll release a new version once we add support for DBConnection 2 and add SSL support. Closing this issue, thanks for the report! 💟

[2019-05-08 14:45] #135 closed

[2019-05-08 15:06] whatyouhide opened #139 "Add Xandra.child_spec/1"

[2019-05-08 17:34] #139 closed

[2019-05-09 11:21] #132 closed

[2019-05-09 12:05] #137 closed

[2019-05-12 21:32] #90 closed

[2019-05-14 12:46] whatyouhide opened #145 "Support default consistency level"
Many C* clients support a default consistency level to use unless overridden. We can support a default consistency level that we pass to `Xandra.start_link/1` and fall back to that unless the `:consistency_level` option is passed explicitly.

[2019-05-14 17:07] whatyouhide commented on #145
Drivers that do this:

* Java driver: https://stackoverflow.com/a/39839221
* cqlsh: https://docs.datastax.com/en/archived/cql/3.1/cql/cql_reference/consistency_r.html
* erlcass: https://github.com/silviucpp/erlcass (search for `default_consistency_level` in the README)
* Python: https://datastax.github.io/python-driver/getting_started.html#setting-a-consistency-level

I think it's a no brainer the

[2019-05-18 17:12] whatyouhide commented on #145
Closed by #149.

[2019-05-18 17:12] #145 closed

[2019-05-20 12:15] fenollp opened #155 "Please cut v0.10.1 (would be last tag before :db_connection 2)"
Hi, at `$DAYJOB` we still rely on ecto v2 as well as Xandra. The former has a hard dependency on db_connection v1. (Ecto v3 depends on v2).

It appears the last published tag is https://github.com/lexhide/xandra/releases/tag/v0.10.0 and that there is no minor or patch release after that as well as before Xandra depends on db_connection v2: https://github.com/lexhide/xandra/commit/b059c79cbfe626646

[2019-05-20 12:24] whatyouhide commented on #155
Hey @fenollp, sorry I'm not sure why you need all that diff when it's mostly testing changes. Do you want a version that suppresses the warnings?

[2019-05-20 13:27] whatyouhide opened #156 "Return nice errors when there's an error encoding"
Right now if we try to encode a value of the wrong type, `FunctionClauseError` gets raised deep inside `Xandra.Protocol`. We should try to instead bubble this up to the connection and return `{:error, %Xandra.ProtocolError{}}`.

[2019-05-20 14:17] fenollp commented on #155
Basically yes :)

[2019-05-22 15:43] whatyouhide commented on #155
v0.10.1 has been released.

[2019-05-22 15:43] #155 closed

[2019-05-26 13:46] #102 closed

[2019-05-26 13:49] whatyouhide opened #160 "Automatic node discovery"

[2019-05-26 13:50] whatyouhide opened #161 "Support tracing"

[2019-05-26 13:50] whatyouhide opened #162 "Event server"

[2019-05-26 13:51] whatyouhide commented on #13
Closing in favour of opening #160, #161, #162.

[2019-05-26 13:51] #13 closed

[2019-05-31 00:41] whatyouhide commented on #160
First support has been introduced in #158.

[2019-05-31 00:41] #160 closed

[2019-06-03 14:56] vanjabucic commented on #136
Maybe fixed by pull request #165 (Change opaque to type for dialyzer)?

[2019-06-03 15:06] Kalaww commented on #136
Indeed, it looks like the same kind of warning I have in my project using xandra and my PR fixed it.

[2019-06-03 19:55] whatyouhide commented on #136
Closed by #165.

[2019-06-03 19:55] #136 closed

[2019-06-08 12:20] #134 closed

[2019-06-08 21:31] whatyouhide commented on #161
@lexmag I think we'll need to think about tracing and warnings (warnings are protocol v4 only) in a similar way. I think we have two approaches

1. a "callback" approach where tracing ID and warnings are handled via callbacks (it could be a callback passed to the various functions or `:telemetry` events)

2. an approach where we store tracing ID and warnings alongside the returned results: this me

[2019-06-17 16:28] whatyouhide commented on #161
Closing in favor of the PR (#170).

[2019-06-17 16:28] #161 closed

[2019-06-22 15:39] hackmad opened #171 "Problems with negative decimal values"
I have reported this problem here: https://github.com/ericmj/decimal/issues/125 so this is more of a heads up. We found issue with reading negative decimal values using the decimal v1.7.0 library and setting the `decimal_format: :decimal` option.

You can reproduce it like this:
[code]

[code]

For now we switched to the tuple format and do our own conversion to the decimal struct:
[code]

[2019-06-24 13:23] hackmad commented on #171
Thanks it works. Will you be putting out a new minor release?

[2019-06-24 13:50] #171 closed

[2019-06-24 13:50] whatyouhide commented on #171
Thanks for the detailed report @hackmad, fixed on master! 💟

[2019-06-24 20:11] hackmad commented on #171
A new release was pushed out for decimal v1.8.0: https://github.com/ericmj/decimal/releases

Thanks.

[2019-09-02 21:04] thiamsantos commented on #138
@whatyouhide I would love to help with that.

I just need some guidance on where is the best to place this code and which events we should send.

[2019-09-04 13:06] jvf commented on #118
With the switch to DBConnection 2.x and the reimplementation of `Xandra.Cluster` as its own process (see #140) I revisited this issue and tested if connection recovery is still a problem.

### TL;DR

Reconnection is still buggy with the new `Xandra.Cluster` implementation.

### Environment

* Elixir & Erlang versions (elixir --version): `Erlang/OTP 21 [erts-10.3.5.4], Elixir 1.8.2`
* Xandra versio

[2019-09-04 14:55] jvf commented on #118
I tested reconnection with a `Xandra.Cluster` connection with two nodes and only restarting one node, which works!

[code]

Observations:
* During the downtime of 65.12.123.10 the query is issued to 65.12.123.11. This is good!
* After restarting 65.12.123.10 (and waiting a bit) the query is issued against 65.12.123.10 against, indicating that the reconnection was successful!

[2019-09-04 19:39] jvf commented on #118
I had a look at the code and did some testing and I think I know what the problem is:

* if a node goes down only the control connection process survives, the whole connection pool is terminated (see `Xandra.Cluster.handle_status_change(state, %{effect: "DOWN", address: address})`)
* if the node comes back the control connection process re-establishes the connection to the node, but the pool is no

[2019-09-04 23:11] whatyouhide commented on #118
@jvf do you think it makes sense to re-establish the connection to the pool when the control connection reconnects **only if we have a single node**? Because it seems like if we have two we might want to wait for `STATUS_CHANGE=UP` to know that the other node actually re-joined the cluster?

[2019-09-05 16:56] jvf commented on #118
@whatyouhide I think that this this a general problem, not only when using `Xandra.Cluster` with a  single node. Consider the following:

* create `Xandra.Cluster` with two nodes
* stop and restart both nodes simultaneously
* only one node will reconnect correctly
  * I have seen this during testing
  * theoretically (depending on timing) no connection gets re-established correctly (I think this i

[2019-09-06 15:06] jvf commented on #118
The best reference I found is from the [protocol spec]. It states that receiving a `READY` message "Indicates that the server is ready to process queries". A `READY` message is received in response to a `STARTUP` message as well as in reponse to a `REGISTER` message. Both of these messages are sent while establishing the control connection.

This is supported by what we can observe in the `system.

[2019-09-10 08:37] whatyouhide commented on #138
Hey @thiamsantos, I already started working on this but it's more problematic that I thought. We have two alternatives:

  1. using `DBConnection.LogEntry` or
  1. measuring our own times.

The problem with 1. is that we lose context on a few things, such as hits to cached prepared queries (that don't go through the connection). The problem with 2. is that we don't have pool measurements, like how

[2019-09-10 14:46] #118 closed

[2019-10-01 21:27] thiamsantos commented on #138
Sorry for the delay @whatyouhide, I was really busy in the last weeks.

I started a PR with the alternative 2. I started a small PR with this approach  #174.

About the alternative 2, I really don't know. Usually when I look at ecto events, my main point of attention is the total time of the query, so I think the pool measurements are really useful but as not important as the information that we g

[2020-01-01 21:10] whatyouhide opened #176 "Log IP of connection when possible"

[2020-01-05 22:40] whatyouhide commented on #176
Closing in favor of the PR #178.

[2020-01-05 22:40] #176 closed

[2020-04-03 14:02] rbino opened #179 "Prepared statements generate wrong results when combined with USE statements"
Prepared queries cache does not take into account the effects of `USE` queries, so results are sometimes returned from the wrong keyspace.

Minimal test to see the issue in action:
[code]
I'm willing to work on a PR for this if there's the need.

[2020-04-03 14:29] bettio commented on #179
I think the issue is here: https://github.com/lexhide/xandra/blob/master/lib/xandra/prepared/cache.ex#L28
So the statement has the same key but the prepared id must be likely different.

[2020-04-04 17:16] whatyouhide commented on #179
Thanks for the report folks. Any chance you could take a look at tackling this? I'm a bit swamped right now 😄

[2020-04-06 08:16] rbino commented on #179
I'll look into it

[2020-04-10 14:58] bettio opened #181 "Missing support to wait for schema agreement"
Xandra does not allow to wait for schema ageement/consensus after (maybe also before) executing schema changes.
Cassandra exports schema_version on `system.peers` and `system.local` tables, and [some Cassandra database drivers allow to wait for consensus/schema agreement](https://docs.datastax.com/en/developer/python-driver/3.23/api/cassandra/cluster/#cassandra.cluster.Cluster.max_schema_agreement

[2020-04-11 20:51] whatyouhide commented on #181
Can this be built on top of Xandra right now, or does it need to be build inside Xandra?

[2020-04-15 09:25] bettio commented on #181
It can be built on top of existing Xandra code (without any change to it), so I'm trying to understand if it would be an useful addition to Xandra.

[2020-04-22 16:07] bettio commented on #181
Please take a look to our PoC:
- https://github.com/bettio/astarte/commit/47a9df0540056d978ea6f4d56dfd54642ec50013
- https://github.com/bettio/astarte/commit/c0c4602b035ebe112c4d4cfc68f85e28a7894255
- https://github.com/bettio/astarte/commit/8b208c6991a307e6e6b7bafd6c6c59468ef612c8

Let me know if you would like to see as part of Xandra, if so I will open a PR.

[2020-04-25 17:56] whatyouhide commented on #162
Closing this for inactivity. If anyone needs this feature, they're welcome to make it known down here and we'll be more than happy to assist in any way we can 🙃

[2020-04-25 17:56] #162 closed

[2020-04-27 14:11] whatyouhide commented on #181
Okay, I finally had the time to take a look at this. I'm undecided between the possible APIs:

* The one you proposed, where you could have `Xandra.execute_with_schema_agreement(conn, fun)`

* An option to the various `execute` functions, such as `Xandra.execute(conn, query, wait_for_schema_agreement: 5000)` or something like this.

Thoughts? cc @lexmag

[2020-04-29 11:41] retf opened #182 "Connect in AWS keyspace"
Have any one knows how connect using TLS client authentication, with certificates?

https://docs.aws.amazon.com/keyspaces/latest/devguide/programmatic.drivers.html

[2020-04-29 13:30] whatyouhide commented on #182
You can use `encryption: true` in `start_link/1` and customize all the right options with the `:transport_options` option. For example, `start_link(transport_options: [certfile: "path/to/certfile"])` or something like this. I don't have experience with AWS Keyspace so not sure how to help in more detail :) Closing this now as I am fairly sure it's not a bug with Xandra itself, but feel free to com

[2020-04-29 13:30] #182 closed

[2020-04-30 11:18] retf commented on #182
this do the trick, if any one needs!

Xandra.start_link(
        # https://docs.aws.amazon.com/keyspaces/latest/devguide/programmatic.endpoints.html
        nodes: ["cassandra.sa-east-1.amazonaws.com:9142"],
        encryption: true,
        # curl https://www.amazontrust.com/repository/AmazonRootCA1.pem -O
        transport_options: [cacertfile: "/path/to/cer/AmazonRootCA1.pem"],
        # https:

[2020-05-09 01:32] mezz opened #183 "RetryStrategy can not handle thrown DBConnection errors"
Due to the way `DBConnection.ConnectionError` can be sometimes be thrown instead of returned (https://github.com/lexhide/xandra/issues/119), `RetryStrategy` does not handle them. Please see `run_with_retrying`, which does not try/rescue the call to `fun` here: https://github.com/lexhide/xandra/blob/2ba4701930ec0c515070f15fd217b870deb57560/lib/xandra/retry_strategy.ex#L126-L127

I ran into this sit

[2020-05-10 09:44] whatyouhide commented on #183
@mezz I think it would make sense to rescue `DBConnection.ConnectionError`s since they seem to be raised. Would you like to submit a PR? I don't have cycles currently to work on Xandra :)

[2020-05-11 22:20] mezz commented on #183
Thanks @whatyouhide, I have just created a PR for this here: https://github.com/lexhide/xandra/pull/184

[2020-05-25 13:11] qcam commented on #183
I think I'm more inclined towards this being a DBConnection issue rather than a Xandra issue. 🤔

[2020-05-27 01:02] mezz commented on #183
@qcam I am not entirely sure this is an inconsistency in DBConnection, it seems to be in how Xandra handles calling it in different situations.
I found this previous issue, where it seems like Xandra previously chose to handle this case inconsistently: https://github.com/lexhide/xandra/issues/119

[2020-05-27 20:06] qcam commented on #183
I don't think that's Xandra handling the return differently. Xandra does handle when the call returns with `{:error, error}` (as what the DBConnection docs says), but rather DBConnection would raise when it fails to check out a connection. The raising behavior (what it raises on, what it raises with) is not really documented on DBConnection, which means technically that could change any time. I pe

[2020-05-27 20:58] mezz commented on #183
Thanks @qcam, I think you have better context on this issue than I do.

I don't think it makes sense to raise some errors and return others. They should be handled one documented way and differentiated by the type of error instead.

If this DBConnection behavior can be changed without breaking things significantly, I agree it would be best to fix it there.

If in general DBConnection leaves errors

[2020-06-01 17:03] whatyouhide commented on #183
@qcam raises good points. @mezz it would be great if you could report this issue to DBConnection? In the meantime, I'll close this issue and #184.

[2020-06-01 17:03] #183 closed

[2020-08-04 02:19] cjayross opened #187 "MatchError when creating a User-defined function."
In this snippet, it is assumed that a keyspace named `example` was created using `SimpleStrategy` and a replication factor of 3.

[code]

The resulting traceback looks like
[code]

This test was done using the official docker image for Cassandra.

[2020-08-18 07:41] micheleriva opened #188 "java.lang.AssertionError on SELECT query"
Hi,
I'm using Xandra in production with AWS Keyspaces and everything seems to work fine.
I just have a bug with every SELECT query that returns the following error:

[code]
I've been using Xandra in production for two weeks, and this is happening since 2 days ago.
I'm not able to reproduce the error using a CQL client (TablePlus in my case) or the native AWS Keyspaces CQL editor.

INSERT queries w

[2020-08-20 13:34] whatyouhide commented on #188
What changed between when you were getting not getting the error and when you started getting the error? Sorry, this is not enough information to debug anything yet :(

[2020-09-19 12:59] anildigital opened #189 "How to set 'paging off' with Xandra config"
[code]

[code]

[code]

Both `xyz` and `abc` exist in the database. Any way to set 'paging off' ?
Or is there any way to do paging? I don't see any example in documentation.

[2020-10-24 01:01] dorlaor opened #190 "Add ScyllaDB driver extensions"
Scylla enhances the CQL protocol with these two capabilities:

 - Cache hint
   Simply flag a query to BYPASS the cache. This way queries that
   just scan do not need to be kept in the database cache. That's trivial
   to implement

- Shard awareness
  Scylla provides per-core topology information, this way the driver can
  send the query to the core that handles the range. It improves load balan

[2020-10-29 16:12] weixiyen opened #191 "Autodiscovery includes nodes that are down"
Autodiscovery will include down nodes in discovered_peers and pass traffic to it.

Can there be a fix to node discovery at startup to exclude down nodes?

Thanks!

[2020-11-02 08:43] whatyouhide commented on #190
Hey @dorlaor, thanks for the report! Those features sound great but @lexmag and I have no bandwidth right now to work on anything here. If you have consistent time to work on this and would be able to drive it to conclusion, I'd be happy to provide support, but otherwise we won't get these in for the time being :(

[2020-11-02 08:43] whatyouhide commented on #191
Hey @weixiyen, thanks for the report! Yeah, that sounds fixable. I have zero time to work on this in the next few weeks. Wanna submit a PR? :)

[2020-11-02 08:45] whatyouhide commented on #187
Hey @cjayross, thanks for the report! That's a good catch. I have zero time to work on this for the next few weeks. Any chance you could investigate and submit a fix? Thanks for the patience :)

[2020-11-02 08:47] whatyouhide commented on #181
@bettio sorry, I haven't had cycles to tend to Xandra in a *long* time. I’m inclined to go with the `:wait_for_schema_agreement` option. Thoughts? I won't have time to implement anything but I'll try to carve time to review stuff if you're still interested in getting this feature in :)

[2020-11-02 12:08] cjayross commented on #187
@whatyouhide, unfortunately, I don't have much time either. Perhaps a new issue should be posted in search for an additional maintainer? Any idea if there are some forums to advertise the need?

[2020-11-02 16:43] dorlaor commented on #190
Once we'll have an Elixir fan in the neighborhood we'll point him/her towards this, sure

[2020-11-02 18:23] whatyouhide commented on #187
@cjayross I don't really know where to post it, no. :) Will think about it.

[2020-11-17 15:26] blackode opened #192 "FunctionClauseError: new_page for IF NOT EXISTS"
I'm using **Xandra** with **ScyllaDB**.

## Problem Statement
After Executing the batch query using `Xandra.execute!/3` the changes are reflecting to database but a runtime exception
`FunctionClauseError` has been raised everytime. The records are duplicated even I add the condition `IF NOT EXISTS`

To avoid duplicate insertion I'm adding `IF NOT EXISTS`  for Insertion queries. You can find the qu

[2020-12-21 07:51] sahilpaudel-pe commented on #9
sorry if its dumb question but where would the nodes go then in start_link?

[2020-12-21 07:56] whatyouhide commented on #9
@sahilpaudel-pe

[code]

[2020-12-21 08:15] sahilpaudel-pe commented on #35
Great Thanks.

[2020-12-21 08:15] sahilpaudel-pe commented on #9
Great.

Thanks.

[2020-12-21 08:16] sahilpaudel-pe opened #193 "How to start Xandra as child process?"
I am trying to use Xandra for my Phoenix project for which I am connecting to Cassandra like

{:ok, conn} = Xandra.start_link([
  nodes: ["localhost:9042"]
])
Every time I am suppose to run a query I need to start_link, Is there a way I can provide all connection details in config file and it runs once the app is started?

Like below

[code]

Thanks

[2020-12-21 10:58] sahilpaudel-pe commented on #107
Hi @weixiyen what is the preferred pool size if you have any idea?

Thanks

[2020-12-21 12:38] sahilpaudel-pe opened #194 "Create table with column type map."
I want to create a column that has column type map

I executed the below query

[code]

I got error as below
[code]

It works if I use `map<text, text>` but I am sure about the second argument it can be boolean, text, integer

Please help.

[2020-12-22 11:52] sahilpaudel-pe opened #195 "Returning the object that is inserted or just the ID"
Can I access the row that is inserted
[code]

My Table
[code]

How can I access just inserted data from above.

[2020-12-28 11:15] whatyouhide commented on #193
You need to manually read that from the app env.

[code]

Closing this as there's no issue here with Xandra per se. Thanks for the question! 💟

[2020-12-28 11:15] #193 closed

[2020-12-28 11:17] whatyouhide commented on #195
An `INSERT` operation returns a void response. You have the `async_id` there, you ought to be able to read the row with that.

In general, we reserve the issue tracker for issues. For questions, places like ElixirForum are more suited and you'll likely find it easier to get some help there 👍

In any case, closing this as there's no issue with Xandra per se highlighted here. Thanks @sahilpaudel-pe!

[2020-12-28 11:17] #195 closed

[2020-12-28 11:19] whatyouhide commented on #194
This is a problem with your CQL. Maps are not `map`, they are `map<key_type, value_type>`. This is not related to Xandra.

In general, we reserve the issue tracker for issues. For questions, places like ElixirForum are more suited and you'll likely find it easier to get some help there 👍

In any case, closing this as there's no issue with Xandra per se highlighted here. Thanks @sahilpaudel-pe! 💟

[2020-12-28 11:19] #194 closed

[2021-03-24 15:27] sashaafm opened #197 "Support for ScyllaDB up-to-date?"
Hello `:xandra` developers 👋, is the latest ScyllaDB supported? I saw in the `README` that `2.x` is supported, but I was wondering if any tests have been done to ensure compatibility for the more recent ScyllaDB versions.

If possible I'd like to also suggest keeping a table (in the `README`) describing the supported and tested versions for both Cassandra and ScyllaDB ☺️

Thank you

[2021-04-08 09:10] whatyouhide commented on #197
@sashaafm I havent done any tests. I don't have time to do anything for quite a while. Feel free to run the test suite and play around a bit, we'd be happy to hear back and at least help coordinating any possible work that will need to be done :) Thanks!

[2021-04-22 01:46] rafbgarcia commented on #197
@sashaafm did you do any tests with the latest ScyllaDB versions? Or did you end up using something else?

Also, @whatyouhide, would any Cassandra driver work for Scylla (such as https://github.com/cqerl/cqerl), or are there Scylla-specific implementation differences?

[2021-04-23 02:25] willricketts commented on #197
@sashaafm I too am wondering if you determined whether or not it would work with newer versions of Scylla. Thanks!

[2021-06-25 07:24] sircinek opened #198 "Support for `load_balancing: priority` with `autodiscovery: true`"
Hey guys.

Disclaimer, I didn't dig deep into the codebase to understand this constrain yet nor am Cassandra expert, so maybe this is possible only in my imagination :)
Would it be possible to add support for it?
If so, would you accept PR adding support for it?
Anything I should be aware of before I start ? :)

[2021-06-25 09:02] sircinek commented on #198
Actually this might be what I am looking for: https://github.com/lexhide/xandra/pull/186
Long story short, we have distributed clusters across geographical locations, and I want to connect to all, but have a preference of a co-located one.
Currently I can pass a list of fqdns, and it connects nicely and is able to autodiscover peer nodes, but then I am stuck with load balancing random, that makes

[2021-12-19 14:42] whatyouhide commented on #156
This would be great, but I won't have cycles to do this for a long time. Closing to clean things up!

[2021-12-19 14:42] #156 closed

[2022-02-07 13:46] hubertpompecki opened #199 "`autodiscovery: true` opens connections to new nodes in other data centers"
The [documentation](https://hexdocs.pm/xandra/Xandra.Cluster.html#module-autodiscovery) states that:

The above is true at startup but doesn't appear to be true later at runtime. When `autodiscovery` is set to `true`, Xandra opens connections to all nodes as soon as they become available even if the new node and the control connection are in different data centers.

Replication steps are given bel

[2022-02-09 07:31] whatyouhide commented on #199
@hubertpompecki this is very interesting, thanks for the callout!

I'm trying to understand why this would be considered a *bug*. Is it standard C* client behavior to only autodiscover nodes in the same datacenter?

I'm wondering if instead we should control this behavior with an option, for example `autodiscovery: true, autodiscover_only_in_same_datacenter: true` or something along those lines.

[2022-02-09 11:00] hubertpompecki commented on #199
Thanks, @whatyouhide!

Perhaps _a bug_ is too strong a word but I hope you'll agree that the behaviour here is somewhat inconsistent:
* existing nodes in other data centres aren't auto-discovered at startup,
* new nodes in other data centres are auto-discovered later at runtime as they become available.

The latter creates a problem because the only load balancing option that is available with `au

[2022-02-15 13:47] whatyouhide commented on #199
Yes, this all makes sense. I would suggest to start by controlling this with an option, such as `autodiscover_other_datacenters: true | false`, and default that to `false`. This should solve your issue and provide a fallback for users that were relying on the current behaviour (provided there are any... 😉 ). Would you be willing to give it a shot and work on a PR?

[2022-02-18 11:55] hubertpompecki commented on #199
Thanks @whatyouhide

I've been working on a change to introduce `:dc_aware` load balancing option in the meantime.  It largely overlaps with what `autodiscover_other_datacenters` would require. I've opened a [draft PR](https://github.com/lexhide/xandra/pull/200) with both.

[2022-02-19 09:25] whatyouhide opened #201 "Switch to nimble_options for option documentation and validation"

[2022-02-24 08:18] whatyouhide opened #202 "Use GitHub Actions for CI"

[2022-02-24 08:18] whatyouhide opened #203 "Add tests for Cassandra 4"

[2022-02-24 08:21] whatyouhide opened #204 "Replace the Connection library with gen_statem for cluster control connections"

[2022-02-24 09:29] whatyouhide commented on #202
Closed by https://github.com/lexhide/xandra/pull/205

[2022-02-24 09:29] #202 closed

[2022-02-26 07:50] #203 closed

[2022-02-26 22:22] whatyouhide commented on #201
Closed by db446cab837e9aef9a02b369725eada28b132130, 6c30f28ac8fd8a257859866170b382786c3cde77, and 63f0b99. All of the heavy lifting was done by @relistan. Thanks Karl! 🙏

[2022-02-26 22:22] #201 closed

[2022-02-27 21:53] #204 closed

[2022-02-28 11:54] rbino opened #211 "Outdated Scylla causing a test to fail in the CI"
While rebasing #180 I've noticed a failing test in the Scylla CI and I've isolated this minimal failing test:
[code]

The example statement is taken [from the docs](https://hexdocs.pm/xandra/Xandra.html#execute/4-examples) so I assume it's expected to work, but it actually fails with
[code]
when executed against the Scylla Docker compose (while it succeeds with Cassandra).

I tried bumping Scylla

[2022-03-01 08:08] whatyouhide commented on #211
@rbino for now, can you make a PR that 1. adds that test (as a regression) and 2. bumps Scylla to 2.3.1? I want to move slowly so bumping to the oldest version that works makes sense. After that, sure we can add some very recent Scylla versions (4.x) to the CI matrix. Thank you in advance!

[2022-03-01 08:21] whatyouhide opened #212 "Open one control connection per node"

[2022-03-01 08:22] whatyouhide opened #213 "Don't try to reconnect control connections indefinitely"
Right now if a control connection to a node goes down, we try to reconnect forever. This is an issue because C* cluster topologies evolve in time. For example, we have seen a case where our SaaS provider moves the nodes in our cluster around, resulting in the original seed node's control connection constantly trying to reconnect to a node that's not there (and won't be there anymore).

Control con

[2022-03-01 11:32] rbino commented on #211
@whatyouhide done in #214

[2022-03-01 15:01] #211 closed

[2022-03-01 15:15] #179 closed

[2022-03-01 15:21] whatyouhide opened #215 "Refactor Xandra module to not use :address/:port options"
These options were a relic of a previous API that has been completely wiped out.

[2022-03-01 15:24] bettio opened #216 "Is CosmosDB supported?"
Microsoft CosmosDB has support for a [Cassandra API](https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra/cassandra-introduction). Adding it to CI might be difficult, however it might be interesting testing it in order to understand if there is any blocker issue.

[2022-03-01 15:31] whatyouhide commented on #216
Hey @bettio, no, it's not officially supported. It's the first time I hear about it. I dont think we should support it unless we can test it reliably on CI, so that would be the first step. As you said, some testing to see if anything breaks would be interesting too.

Closing the issue as the question is answered. Thanks!

[2022-03-01 15:31] #216 closed

[2022-03-28 09:51] hubertpompecki opened #217 "(FunctionClauseError) no function clause matching in Xandra.Cluster.ControlConnection.disconnected/3"
Found when QA'ing changes in https://github.com/lexhide/xandra/pull/200 after merging recent changes from main.

To reproduce:

Start two Cassandra nodes:
[code]
Connect to both nodes:
[code]

Kill one node:

[code]

Xandra crashes with:
[code]

[2022-03-30 06:31] whatyouhide opened #218 "Some warnings can crash Xandra on protocol v3"
Need more detail, will chat with @relistan about this since he's the one that discovered this bug.

[2022-03-30 07:18] whatyouhide opened #219 "Add basic support for native protocol v5"

[2022-03-30 11:21] relistan commented on #218
Apparently solved by using protocol version 4. When using protocol version 3 (against C* version 3 also), if a warning is returned saying that too many rows are being queried at once, it triggers death of the connection in a semi-permanent way.

Example that would trigger it:
[code]

Fails when a list of e.g. 10 `id`s are passed.

[2022-03-30 11:22] relistan commented on #218
Scylla returns a different warning and does not trigger the connection crash

[2022-05-06 18:15] kennethito opened #223 "Logger metadata :xandra_address doesn't work"
xandra_address is a tuple, which can't be converted to a string
https://github.com/lexhide/xandra/blob/main/lib/xandra/connection.ex#L41

[code]

[code]

[2022-05-06 18:15] kennethito commented on #223
Something along these lines does work for me.

[code]

[2022-05-07 07:42] whatyouhide opened #225 "Use NimbleOptions to validate options for Xandra.Cluster"
We did work with NimbleOptions already (for #201) in #209 and #210, but that only targets `Xandra`. We should do similar work for `Xandra.Cluster`.

[2022-05-07 07:50] #223 closed

[2022-05-08 12:19] #212 closed

[2022-05-08 12:22] whatyouhide opened #226 "Open a single control connection per cluster"
All other C* drivers built by Datastax (for Python, PHP, Java, Ruby, Node) to this and are successful 😄

I [asked about this](https://community.datastax.com/questions/13895/how-many-control-connection-to-start.html) in Datastax's forums and they confirmed that this is a good idea.

This should drastically simplify `Xandra.Cluster`'s code. We could probably embed the single control connection strai

[2022-05-08 14:17] #225 closed

[2022-05-10 16:52] #215 closed

[2022-05-12 18:07] relistan commented on #218
Wow, good digging. What a nasty bug in C*! Wonder how many clients had to work around that.

[2022-05-14 16:40] whatyouhide opened #233 "Figure out how to test compression"
Erlang/Elixir have no okay libraries for either the Snappy or lz4 compression algorithms.

We used to use [snappy-erlang-nif](https://github.com/skunkwerks/snappy-erlang-nif) but it doesn't compile easily anymore.

Also, doesn't support Snappy anymore (since native protocol v4 or v5, can't remember). It only supports lz4 for now.

This issue requires a few steps:

1. Figure out if C*'s lz4 compres

[2022-05-16 10:17] whatyouhide opened #237 "Remove the separate C* Docker image used for encryption"
C* supports "optional" encryption, that is, it supports clients that can connect both via TCP as well as TLS (on the same port). If we enable this in C*'s config, we can remove the `cassandra_encrypted` Docker Compose service from `docker-compose.yml`. Eventually, we might even want to re-run the whole test suite under TCP and TLS to test edge cases, but for now that won't be necessary.

[2022-05-16 16:25] whatyouhide opened #238 "Add API to handle server warnings"
Since native protocol v4, C* supports sending **warnings** in the responses that come from the server.

We should add an API that lets users of Xandra handle those warnings. The first proposal is an option to pass to `Xandra.start_link/1`, `:warning_handler`. It can be a function with two arguments or a `{module, function, additional_args}` tuple.

The function passed to this option would be calle

[2022-05-19 17:00] whatyouhide opened #239 "Add support for the USE_BETA native protocol flag"
We should send this flag when using v5 of the protocol on C* 3.x.

[2022-05-19 17:02] whatyouhide opened #240 "Add support for new flags in native protocol v5"
Can't be done right now, we need to implement #219 first.

[2022-05-19 19:38] whatyouhide opened #241 "If a protocol version is explicitly forced, we should not gracefully downgrade"
This is a bug that was introduced in #230. If you do `protocol_version: :v4` and C* doesn't support v4, Xandra will gracefully fall back to v3. This is, in my opinion, unexpected behavior. The [principle of least astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) here would be that if a user specified the protocol version explicitly then Xandra should **fail** if C* canno

[2022-05-19 21:20] whatyouhide commented on #239
Nope, we won't do this. Native protocol 5/v5-beta has completely different framing than 4/v4. C* 4 supports 5/v5, so supporting 5/v5-beta would only benefit C* 3 users that wanna run on v5. Being beta, I don't think that's worth it 😉

The framing code understands the `USE_BETA` flag anyways since #236, so we did what we could in this case.

[2022-05-19 21:20] #239 closed

[2022-05-19 21:20] whatyouhide commented on #219
Closed via #236.

[2022-05-19 21:20] #219 closed

[2022-05-20 10:12] #233 closed

[2022-05-23 07:19] whatyouhide opened #244 "Add Mix alias to test on all protocols"
Right now it's pretty clunky to run tests on different native protocols. You have to do something like this:

[code]

Our CI matrix is also pretty big, and part of that is to test on multiple protocols:

<img width="340" alt="Screenshot 2022-05-23 at 09 17 44" src="https://user-images.githubusercontent.com/3890250/169764579-1b704091-07be-48f6-9c65-c57d723de619.png">

However, every C* connection c

[2022-05-30 21:21] whatyouhide opened #245 "Fix parsing of non-self-contained frames in native protocol v5"
After a conversation with the person that implemented the v5 native protocol for C*, I have a good idea about what we have to do, and it's not what we're doing now 🙃

[2022-06-03 19:41] #241 closed

[2022-06-05 08:34] whatyouhide opened #248 "Add newer ScyllaDB versions to the CI matrix"

[2022-06-05 10:32] #238 closed

[2022-06-06 06:02] #245 closed

[2022-06-30 15:51] vanjabucic commented on #217
Assuming this falls under the same issue, an error receiving a `connected` message when restarting a node:
[code]

[2022-07-02 13:42] #248 closed

[2022-07-02 13:46] whatyouhide opened #256 "Add support for the CUSTOM_PAYLOAD protocol flag"
Support for this starts in native protocol v4.

* [v5 docs](https://github.com/apache/cassandra/blob/33a9093c5cc2f8fcf913d1931415b697e52ec108/doc/native_protocol_v5.spec#L295-L303)
* [v4 docs](https://github.com/apache/cassandra/blob/trunk/doc/native_protocol_v4.spec#L141-L150)

[2022-07-02 13:47] whatyouhide commented on #240
Closing this since we implemented the `USE_BETA` flag. The flag that is left is `CUSTOM_PAYLOAD`, which is now tracked in https://github.com/lexhide/xandra/issues/256.

[2022-07-02 13:47] #240 closed

[2022-07-02 14:07] whatyouhide commented on #192
Hey @blackode 👋

Only took me a couple of years to get to this, not too bad eh? 😄

I cannot reproduce this on the `main` version. I tried with the test below.

<details>
 <summary>Test to reproduce this</summary>

[code]

</details>

[2022-07-03 04:32] blackode commented on #192
@whatyouhide Thanks for looking into. Glad you got the time. Unfortunately, I'm not working in a project that uses this lib.

[2022-07-03 07:53] whatyouhide commented on #192
@blackode thank you for the answer and sorry it took so long to get to this. I'll close this one out since I can't reproduce, if someone runs into this please feel free to comment down here 🙃

[2022-07-03 07:53] #192 closed

[2022-07-03 14:38] #256 closed

[2022-07-04 06:37] whatyouhide commented on #217
The issue reported by @hubertpompecki has been fixed on the `main` branch. @hubertpompecki, would you mind giving `main` a try and checking if this is still happening?

As for the issue reported by @vanjabucic, I don't see how this could happen on the latest `main`. Any chance you can reproduce this consistently? In any case, please open a separate issue if you can, so we can investigate it separa

[2022-07-04 06:37] #217 closed

[2022-07-04 07:04] Dorfeuheinz commented on #98
Hello Im a bit new to elixir mself, an even Im trying to do the same thing could you please share the github repo of a project where you hav used Cassanadra as a db in ecto, im fining it really hard trying to figure out the file strucure of an app with a nosql db in elixir. I would be highly grateful

[2022-09-07 16:17] shirokovnv opened #261 "Migration tools for the Forza Football"
Hello!

Excuse me for opening this. First of all, thanks for the awesome cassandra driver!

Can you share, which migration tool do you using with Xandra in Forza Football ?

I discovered some ecto packages integrated with cassandra, but with longly outdated dependencies.

And very little information (approximately, articles written 4-5 years ago) in elixirforum about it.

So, can you somehow cover

[2022-09-08 14:24] whatyouhide commented on #261
Hi @shirokovnv, this package is not related to Forza Football for anything except that it was originally built there.

I would recommend to reach out to @lexmag for something like this (email or Twitter). Since this is not an issue with the driver itself, I'll close this issue. Thanks for using Xandra! 🙏

[2022-09-08 14:24] #261 closed

[2022-09-08 14:38] shirokovnv commented on #261
Thanks for the answer,
I would rather choose to mail mr. @lexmag, but cannot find his email.
Twitter is unreachable from my country.

[2022-10-12 13:56] franke1276 opened #262 "FunctionClauseError in Xandra.Cluster.ControlConnection.connected/3 (in 0.14.0)"
Hi,

I am getting the following error when a failed node comes back again:

[code]

I saw that this case is not handled here, but it's handled/fixed in the master:

https://github.com/lexhide/xandra/blob/0d5d763abfea8fc9ab9d664646038308243e8bfa/lib/xandra/cluster/control_connection.ex#L132

[2022-10-12 14:21] franke1276 opened #263 "Isolated Cassandra node results in `{:cluster, :not_connected}`"
I have the issue that I am getting `{:cluster, :not_connected}` when one of 3 cassandra nodes is isolated.

Current setup:
3 cassandra nodes, one gets isolated (simulated via iptables DROP of port 7000)

[code]

Now simulate node isolation on one cassandra node:
[code]

After some seconds:

[code]

See here the state if the Xandra.Cluster `pools: %{}` which results in  `{:cluster, :not_connected}`

[2022-11-13 21:45] whatyouhide commented on #262
Thanks for the report. Yes, it'll be fixed in 0.15.0, which I'll try to release at some point.

[2022-11-13 21:47] whatyouhide commented on #263
@franke1276 thanks for the report! Does this happen on the `main` branch too?